.advantages-item-list {
  display: grid;
  list-style-type: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.advantages-item-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 52px;
  padding-top: 31px;
  background-repeat: no-repeat;
  background-position-y: 23px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 158px 32px 42px;
    background-position: 50% 60px;
  }
}

.advantages-item-list__item--home {
  background-image: url("/img/home.svg");
}

.advantages-item-list__item--food {
  background-image: url("/img/food.svg");
}

.advantages-item-list__item--souvenir {
  background-image: url("/img/souvenir.svg");
}

.advantages-item-list__title {
  margin: 0;
  margin-bottom: 16px;
}

.advantages-item-list__description {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
