.advantages-item-list {
  display: grid;
  list-style-type: none;
  padding: 20px 20px 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.advantages-item-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 12px;
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-position-y: 4px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 158px 32px 42px;
    background-position: 50% 60px;
  }
  @media (min-width: $desktop-width) {
    align-items: center;
padding-bottom: 62px;
  }
}

.advantages-item-list__item--home {
  background-image: url("/img/home.svg");
}

.advantages-item-list__item--food {
  background-image: url("/img/food.svg");
}

.advantages-item-list__item--souvenir {
  background-image: url("/img/souvenir.svg");
}

.advantages-item-list__title {
  padding-left: 6px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.advantages-item-list__title--souvenir {
  padding-left: 2px;
}

.advantages-item-list__description {
  text-align: left;
  padding-left: 5px;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
