.catalog-item__link {
  text-decoration: none;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.catalog-item__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    padding: 22px 22px 3px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0 0 0 / 30%);
    color: #ffffff;
  }
}

.catalog-item__image {
  display: block;
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: #acdbf9;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-height: 267px;
  }
}

.catalog-item:first-child .catalog-item__image {
  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}


.catalog-item__title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}


.catalog-item__author {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 21px;
}

.catalog-item__link-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-self: start;
  }
}

.catalog-item__button-like {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog-item__icon-like {
  // fill: rgba(0, 0, 0, 0.3);
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.catalog-item__like-counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }
}
