.catalog-video {
  padding: 15px 20px 0;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 200px 82px;
  }
}

.catalog-video__heading {
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.catalog-video__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    max-width: 503px;
    margin: 0 auto;
    margin-bottom: 89px;
  }
}

.catalog-video__image {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: #acdbf9;

}
