.catalog-photos__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog-photos__item {
  padding: 22px 20px 0;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.catalog-photos__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}
