.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.contacts__link {
  color: #000000;
  text-decoration: none;
}
