.form {
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    gap: 48px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    gap: 56px 128px;
  }
}


.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #E5E5E5;
}

.form__fieldset--impression,
.form__fieldset--attractions,
.form__fieldset--emotions {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }
}

.form__fieldset--emotions {
  margin-bottom: 56px;

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}

.form__legend {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;


  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 0;
  }
}

.form__fieldset-wrapper {
  display: grid;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding: 0 53px;
  }
}

.form__fieldset-wrapper--checkbox {
  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 8px 84px;
    column-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    padding: 0 44px;
  }
}

.form__label {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__label-heading {
  margin-left: 10px;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__input:hover {
  background-color: #E5E5E5;
}

.form__input:focus {
outline: 2px solid #5496BD  ;
  background-color: #E5E5E5;
}

.form__input:active {
  background-color: #ffffff;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__buttons-container {
  grid-column: span 2;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}

.form__input--textarea {
  resize: vertical;
}

.form__warning {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  align-self: flex-end;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-self: center;
    color: #000000;
  }
}
