.nav-list__item {
  background-color: $blue;
  color: #ffffff;
}

.nav-list__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .nav-list__item {
    background-color: #ffffff;
  }

  .nav-list__link {
    color: #000000;
  }

}
