.page-welcome {
  padding: 90px 0 78px;
  background-color: #acdbf9;
  background-image: url("/img/description-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 83px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/description-background@2x.jpg");
    background-size: 1200px auto;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/background-decorative.svg");
    background-position-x: center;
    height: 57px;
    bottom: -1px;
    width: 100%;
    left: 0;
  }
}

.page-welcome--short {
  @media (min-width: $tablet-width) {
    padding: 95px 0 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 0 114px;
  }
}

.page-welcome__logo {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.page-welcome__logo-short {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 77px;
  }
}
