.page-description {
  text-transform: uppercase;
  text-align: center;
}

.page-description__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.page-description__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
