.page-welcome {
  padding: 78px 0 90px;
  background-color: #acdbf9;
  background-image: url(../../img/description-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.page-welcome--short {
  padding: 103px 0 122px;
}
