.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 210px;
  gap: 6px;

  @media (min-width: $desktop-width) {
    max-width: 426px;
  }
}

.social-list__item {
  list-style-type: none;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $blue;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active svg {
    opacity: 0.3;
  }
}
