@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "blocks/page.scss";
@import "blocks/button.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/nav-list.scss";

@import "blocks/page-welcome.scss";
@import "blocks/page-description.scss";
@import "blocks/advantage.scss";


//form.html
@import "blocks/review-form.scss";

//catalog.html
@import "blocks/catalog-video.scss";

@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/social-list.scss";
@import "blocks/copyright.scss";
